Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins/Developer/RiderLink/
Content
RAG/overwatch-knowledge/

.idea/
*.user
*.userosscache
*.sln.docstates
.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pyc
*.env